rootfs/
gocker
name: Go Build and Test
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.21'

    - name: Build the Runtime
      run: go build -v -o gocker main.go

    - name: Verify Binary
      run: ls -l gocker